* {
    margin: 0px;
    padding: 0px;
}
.comment {
    margin-top: 3px;
    width:98%;
    height: 15px;
    color: white;
}
.comment::placeholder {
    transform: translateY(-20%);
    color: white;
    padding: 8px;
}


.comment-form {
    margin-top: 30px;
    /* position: absolute; */
    margin-left: 30px;
    align-items: center;
    padding-right: 200px; 
    padding-left: 200px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.comment-form button{
    margin-top: 9px;
    margin-left: 74px;
    width: 60px;
}
.comment-form span{
    margin-top: -8px;
    margin-left: -23px;
    position: absolute;
}
.author {
    width: 12.3em;
    color: white;
    background: black;
    border-radius: 10px;
    padding: 20px;
    height: 5px;
    margin-top: 0px;
    margin-left: -10px;
}
.author::placeholder {
    color: white;
    padding: 10px;
}
.comment {
    background: black;
    width: 13em;
    border-radius: 10px;
    padding: 15px;
    margin-left: -10px;
}
