* {
    margin: 0px;
    padding: 0px;
}

h3 {
    margin-top: -25px;
    margin-left: 280px;
    color: white;
}

.all-notes {
    height: 180px;
    overflow-y: scroll;
}



.all-notes li {   
    margin-left: 79px;
    margin-top: 34px;
    text-align: center;
    width: 500px;
    color: white;
    font-size: 22px;
    background: black;
    margin-bottom: 40px;
    list-style-type: none;
}

