* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.cohort {
  margin-top: -490px;
  margin-left: 468px;
  font-size: 40px;
}
.student-num {
  margin-top: -20px;
  margin-left: 470px;
}
.main {
  margin-left: 470px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 900px;
  list-style-type: none;
  margin-top: 20px;
}
.main li {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}

.main li:hover {
  transform: scale(1.1);
}
.main img {
  margin-top: 20px;
  border-radius: 50%;
  width: 50%;
}
.main h2 {
  margin: 0;
  margin-top: 24px;
  width: 100%;
  color: black;
}

.main h3 {
  color: green;
  position: absolute;
  z-index: 1;
  margin-top: 237px;
  margin-left: 0px;
}

.main p {
  margin-top: 7px;
  color: black;
}
.main button {
  width: 50%;
  padding: 10px;
  margin: 0;
  margin-top: 40px;
}

/*source: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp*/
#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 50px;
  /* Place the button at the bottom of the page */
  left: 1vw;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: lightgreen;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}