* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.cohort {
  margin-top: -490px;
  margin-left: 468px;
  font-size: 40px;
}

.student-num {
  margin-top: -20px;
  margin-left: 470px;
}

.main {
  margin-left: 470px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 900px;
  list-style-type: none;
  margin-top: 20px;
}

li.Winter2025 {
  border: 2px solid purple; /* Example color for Winter 2025 cohort */
}
li.Spring2025 {
  border: 2px solid red; /* Example color for Winter 2025 cohort */
}

li.Summer2025 {
  border: 2px solid blue; /* Example color for Summer 2025 cohort */
}

li.Fall2025 {
  border: 2px solid orange; /* Example color for Fall 2025 cohort */
}
li.Winter2026 {
  border: 2px solid hotpink; /* Example color for Winter 2025 cohort */
}
li.Spring2026 {
  border: 2px solid fuchsia; /* Example color for Winter 2025 cohort */
}

.Summer2026 {
  border: 2px solid grey; /* Example color for Summer 2025 cohort */
}

.Fall2026 {
  border: 2px solid rgb(0, 255, 8); /* Example color for Fall 2025 cohort */
}

li.AllStudents {
  border: 2px solid black;
}
.main li {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
}

.main img {
  margin-top: 20px;
  border-radius: 50%;
  width: 50%;
}

.main h2 {
  margin: 0;
  margin-top: 19px;
  width: 100%;
  color: black;
}
.main h3 {
  color: green;
  position: absolute;
  margin-top: 355px;
  margin-left: 0px;
}
.main p {
  margin-top: 15px;
  color: black;
}

.main button {
  width: 50%;
  padding: 10px;
  margin: 0;
  margin-top: 40px;
}
