* {
    margin: 0px;
    padding: 0px;
}
table {
    width: 68%; 
    border-collapse: collapse; 
    margin-top: -260px;
    margin-left: 260px;
    border-radius: 100px;
  }
  th, td {
    border: 1px solid black; 
    padding: 8px; 
    text-align: left; 
  }
  th {
    width: 33%; 
  }
  td {
    width: 33%; 
  }
  