footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: green;
    width: 100vw;
    text-align: center;
    padding: 10px;
}
.about-devs {
    color: white;
}


/* Home view media queries (1440px-1057px)*/
@media (max-width: 1422px) {
    .main {
        width: 61%;
    }
    .main h3 {
        margin-top: 24.5%; 
    }
}

@media (max-width: 1353px) {
    .main {
        width: 59%;
    }
    .main h3 {
        margin-top: 24.5%;
    }
}

@media (max-width: 1275px) {
    .main {
        width: 56%;
    }
    
}

@media (max-width: 1162px) {
    .main {
        width: 54%;
    }
    
}

@media (max-width: 1102px) {
    .main {
        width: 51%;
    }
    .main h3 {
        margin-top: 25%;
    }
    
}

@media (max-width: 1057px) {
    .main {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    .main h3 {
        margin-top: 33%;
    }
    
}

/* Student view media queries (1440px-1200px) */

@media (max-width: 1400px) {
    .container {
        width: 70%;
        margin-left: 400px;
    }
    table {
        width: 66%;
    }
    .notes {
        margin-left: 260px;
        width: 66%;
    }
    .notes-container {
        margin-left: -110px;
    }
    .notes-container h3{
        margin-left: 390px;
        margin-top: - 10px;
        padding-bottom: 10px;
    }
    .all-notes {
        margin-left: -40px;
    }
    .all-notes li {
        width: 58%;
        margin-left: 250px;
    }
    .comment-form {
        margin-left: 15px;
    }

    .comment-form button {
        margin-left: 80px;
    }

}
@media (max-width: 1360px) {
    .container {
        width: 68%;
        margin-left: 420px;
    }
    table {
        width: 64%;
    }
    .notes {
        margin-left: 250px;
        width: 64%;
    }
    .comment-form {
        margin-left: -10px;
    }
    .notes-container h3 {
        margin-left: 350px;
    }
    .all-notes li {
        width: 56%;
        margin-left: 240px;
    }
}

@media (max-width: 1320px) {
    .container {
        width: 66%;
        margin-left: 420px;
    }
    table {
        width: 62%;
    }
    .notes {
        margin-left: 260px;
        width: 62%;
    }

    .notes-container h3 {
        margin-left: 330px;
    }
    .comment-form {
        margin-left: -40px;
    }
    .all-notes li {
        width: 54%;
        margin-left: 230px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 64%;
        margin-left: 412px;
    }
    table {
        width: 60%;
    }
    .notes {
        margin-left: 260px;
        width: 60%;
    }
    .notes-container h3 {
        margin-left: 300px;
    }
    .comment-form {
        margin-left: -60px;
    }
    .all-notes li {
        width: 52%;
        margin-left: 230px;
    }
}

@media (max-width: 1240px) {
    .container {
        width: 62%;
        margin-left: 420px;
    }
    table {
        width: 58%;
    }
    .notes {
        margin-left: 260px;
        width: 58%;
    }
    .comment-form {
        margin-left: -90px;
        margin-top: 10px;
    }
    .notes-container h3 {
        margin-left: 280px;
        margin-top: -35px;
    }
    .all-notes li {
        width: 50%;
        margin-left: 230px;
        margin-top: 10px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 60%;
        margin-left: 420px;
    }
    table {
        width: 56%;
    }
    .notes {
        margin-left: 260px;
        width: 56%;
    }
    .notes-container h3 {
        margin-left: 260px;
    }
    .comment-form {
        margin-left: -100px;
    }
    .author {
        height: 1px;
    } 
    .comment {
        height: 10px;
    } 
    .all-notes li {
        width: 48%;
        margin-left: 225px;
    }
}